@import "tailwindcss";

@theme {
  --color-gold: #e6b930;
  --color-gold-dark: #c59d28;
  --color-dark: #0A0A0A;
  --color-brand-blue: #0d4abc;
  --color-dark-blue: #0A192F;
}


:root {
  --background: #ffffff;
  --foreground: #111111;
  --gold: #e6b930;
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

.luxury-text {
  background: linear-gradient(to right, #D4AF37, #F9D976, #D4AF37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass-nav {
  background: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(10px);
}

